@model Expense_Tracker.Models.CategoryTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CategoryTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category_Expense_Limit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category_Expense_Limit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpenseTable.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseTable.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Expense_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
